{
  "printWidth": 120,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["~[/]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
